In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# from keras import Sequential
# import keras
# from keras.layers import Conv2D, MaxPool2D, Dense, Flatten, Reshape, InputLayer, Dropout
# import tensorflow as tf

%matplotlib inline


def read_bed(filename):
    return pd.read_csv(filename, sep='\t', header=None)


def to_bed(data, filename):
    data.to_csv(filename, sep='\t', header=None, index=None)


N = 100
bps = 100
chr_names = list(read_bed('plus.bed')[0].unique())
histones = ['E003-H3K4me1', 'E003-H3K4me3', 'E003-H3K9me3', 'E003-H3K27me3', 'E003-H3K36me3']

In [3]:
print(chr_names)
print(histones)

['chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chr1', 'chr20', 'chr21', 'chr22', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chrX', 'chrY', 'chrM']
['E003-H3K4me1', 'E003-H3K4me3', 'E003-H3K9me3', 'E003-H3K27me3', 'E003-H3K36me3']

In [25]:
# regions

           0          1          2
0      chr10      85139      95139
1      chr10      85627      95627
2      chr10      88064      98064
3      chr10      88927      98927
4      chr10      90030     100030
...      ...        ...        ...
17001  chr10  135482557  135492557
17002  chr10  135485250  135495250
17003  chr10  135493820  135503820
17004  chr10  135493970  135503970
17005  chr10  135518634  135528634

[17006 rows x 3 columns]

In [17]:
def regionize(regions, N, bps):
    regions_100 = pd.DataFrame(
        np.zeros((regions.shape[0] * N, 3), dtype=np.int64),
    )
    for i in range(N):
        regions_100.iloc[i::N, 0] = np.array(regions[0])
        regions_100.iloc[i::N, 1] = np.array(regions[1]) + i * bps
        regions_100.iloc[i::N, 2] = np.array(regions[2]) + (i + 1) * bps
    return regions_100

In [22]:
# def regionize(regions, N, bps):
#     with open(filename, 'w+'):
#         for i in range(N):
#             print()
#             regions_100.iloc[i::N, 0] = np.array(regions[0])
#             regions_100.iloc[i::N, 1] = np.array(regions[1]) + i * bps
#             regions_100.iloc[i::N, 2] = np.array(regions[2]) + (i + 1) * bps


regions_raw = read_bed('plus.bed')
for chr_name in ['chr10']:
    print(chr_name)
    regions = regions_raw[regions_raw[0] == chr_name].copy()
    regions.index = range(regions.shape[0])
    regions[1], regions[2] = (regions[1] + regions[2]) // 2 -  N * bps // 2, (regions[1] + regions[2]) // 2 + N * bps // 2
    regions
    print('\t +1')
    regions_random = pd.DataFrame(
        np.zeros((regions.shape[0] - 1, regions.shape[1]), dtype=np.int64),
    )
    regions_random[0] = regions[0][0]

    regions_random[1] = np.array(regions.iloc[:-1, 2]) # minimum start
    regions_random[2] = np.array(regions.iloc[1:, 1]) # maximum end
    regions_random[3] = regions_random[2] - regions_random[1]
    regions_random = regions_random[regions_random[3] >= 5000]
#     regions_random[1] = np.random.uniform(regions_random[1], regions_random[2]).astype(int)
    regions_random[1], regions_random[2] = (regions_random[1] + regions_random[2]) // 2 -  N * bps // 2, (regions_random[1] + regions_random[2]) // 2 + N * bps // 2
    regions_random
    
    print('\t +0')
    with open('{}k/{}_regions_num.txt'.format((N * bps // 1000, chr_name), 'w+') as file_num:
        print(regions.shape[0], regions_random.shape[0], file=file_num)
    print('\t n', regions.shape[0], regions_random.shape[0])

        to_bed(regionize(regions, N, bps), '{}k/plus_{}.bed'.format((N * bps // 1000, chr_name))
    print('\t 1')

    to_bed(regionize(regions_random, N, bps), '{}k/plus_{}_random.bed'.format(N * bps // 1000, chr_name))
    print('\t 0')

# (np.array(regions.iloc[1:, 1]) - np.array(regions.iloc[:-1, 2]) > 10000).sum()

chr10
	 +1
	 +0
	 n 17006 1747
	 0

In [20]:
# regions_random
# to_bed(regionize(regions_random.iloc[0:1, :], N, bps), '10k/test/one_region.bed')
regions

           0          1          2
0      chr10      85139      95139
1      chr10      85627      95627
2      chr10      88064      98064
3      chr10      88927      98927
4      chr10      90030     100030
...      ...        ...        ...
17001  chr10  135482557  135492557
17002  chr10  135485250  135495250
17003  chr10  135493820  135503820
17004  chr10  135493970  135503970
17005  chr10  135518634  135528634

[17006 rows x 3 columns]

In [23]:
read_bed('10k/plus_chr10_random_low.bed')

            0          1          2
0       chr10     208174     218274
1       chr10     208274     218374
2       chr10     208374     218474
3       chr10     208474     218574
4       chr10     208574     218674
...       ...        ...        ...
174695  chr10  135515802  135525902
174696  chr10  135515902  135526002
174697  chr10  135516002  135526102
174698  chr10  135516102  135526202
174699  chr10  135516202  135526302

[174700 rows x 3 columns]

In [ ]:
regions = regions_raw[regions_raw[0] == chr_name].copy()
regions.index = range(regions.shape[0])
regions[1], regions[2] = (regions[1] + regions[2]) // 2 -  N * bps // 2, (regions[1] + regions[2]) // 2 + N * bps // 2
regions
print('\t +1')
regions_random = pd.DataFrame(
    np.zeros((regions.shape[0] - 1, regions.shape[1]), dtype=np.int64),
)
regions_random[0] = regions[0][0]

regions_random[1] = np.array(regions.iloc[:-1, 2]) # minimum start
regions_random[2] = np.array(regions.iloc[1:, 1]) # maximum end
regions_random[3] = regions_random[2] - regions_random[1]
regions_random = regions_random[regions_random[3] > 2000]
regions_random[1] = np.random.uniform(regions_random[1], regions_random[2]).astype(int)
regions_random[1], regions_random[2] = (regions_random[1] + regions_random[2]) // 2 -  N * bps // 2, (regions_random[1] + regions_random[2]) // 2 + N * bps // 2
regions_random

print('\t +0')
with open('10k/all_regions_num.txt', 'w+') as file_num:
    print(regions.shape[0], regions_random.shape[0], file=file_num)
print('\t n', regions.shape[0], regions_random.shape[0])
to_bed(regionize(regions, N, bps), '10k/plus_all.bed'.format(chr_name))
print('\t 1')
to_bed(regionize(regions_random, N, bps), '10k/plus_all_random.bed'.format(chr_name))
print('\t 0')